data/PROCHLOROCOCCUS-FASTA-FILES/all-genome-seqs.fa
data/PROCHLOROCOCCUS-FASTA-FILES/all-genome-seqs-fixed.fa
data/PROCHLOROCOCCUS-FASTA-FILES/all-genome-seqs-fixed1.fa
data/PROCHLOROCOCCUS-FASTA-FILES/CONTIGS-FOR-ISOLATES.fa
data/PROCHLOROCOCCUS-FASTA-FILES/CONTIGS-FOR-SAGS.fa
data/PROCHLOROCOCCUS-FASTA-FILES/Prochlorococcus-genomes.fa
data/PROCHLOROCOCCUS-FASTA-FILES/seqs-fixed.fa
data/PROCHLOROCOCCUS-FASTA-FILES.tar.gz
data/quality-filtered-fastqs/*QUALITY-PASSED*
databases/A*/*
databases/Prochloroccocus-ISOLATE-PAN2/*
databases/Prochloroccocus-PAN/*
databases/prochlorococcus-bowtie*
databases/Prochlorococcus-CONTIGS.db
databases/Prochlorococcus-ISOLATE-PAN/*
databases/Prochlorococcus-ISOLATE-PAN-GENOMES.db
databases/Prochlorococcus-merged2/*
databases/Prochlorococcus-MERGED/*
databases/Prochlorococcus-PAN-GENOMES.db
logs/anvi-db_494751.log
logs/anvi-db_495274.log
logs/profile_495249.log
logs/profile_495305.log
output/A*
